langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-cohere
langchain-openai
openai
langchain-anthropic
langchain-groq
langchain-google-genai
google-generativeai
langchain-huggingface
transformers
huggingface-hub
langchain-ollama
ollama
langchain_experimental
langsmith
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
grandalf
crewai
crewai[tools]
crewai[litellm]
python-dotenv
dotenv
streamlit
pydantic
pydantic-settings
pydantic_core
wikipedia
chroma
faiss-cpu
youtube-transcript-api
duckduckgo-search
duckduckgo_search
pypdf
marker-pdf
numpy
scikit-learn
pandas
altair
pyarrow
SQLAlchemy
sqlite-vec
aiosqlite
pillow
PyYAML
tqdm
requests
requests-toolbelt
httpx
httpx-sse
aiohttp
urllib3
aiohappyeyeballs
aiosignal
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
dataclasses-json
defusedxml
distro
frozenlist
gitdb
GitPython
h11
httpcore
idna
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
lxml
MarkupSafe
marshmallow
multidict
mypy_extensions
narwhals
orjson
ormsgpack
packaging
primp
propcache
protobuf
pydeck
python-dateutil
pytz
referencing
regex
rpds-py
six
smmap
sniffio
tenacity
tiktoken
toml
tornado
typing-inspect
typing-inspection
typing_extensions
tzdata
xxhash
yarl
zstandard